.about-container {
  max-width: 1800px;
  padding: 2rem;
  box-shadow: 0 0 10px var(--clr-primary);
  background-image: var(--gradient-primary);

}

.about-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.about-section p {
  line-height: 1.7;
}

.section-title {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.7rem;
}

.icon {
  color: #6366f1;
  font-size: 1.25rem;
}

.connect-section {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
}

section p,
section ul li {
  font-size: 0.8rem;
}