.project_container{
  margin: 0 auto;
  border-radius: 1rem;
  max-width: 1000px;
  /* box-shadow: 0 0 10px var(--clr-primary); */
  /* background-image: var(--gradient-primary); */
}

.card_container{
  /* box-shadow: 0 0 10px var(--clr-primary); */
  /* background-image: var(--gradient-primary);  */

  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease-in-out 0.3s;
}

/* style image container */

.image_container{
    height: 270px;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: top;
}

.text_container{
    font-size: 0.9rem;
}