.skills-grid {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  gap: 1.5rem;
  justify-items: center;
}

.skill-card {
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: fit;
  padding: 0.2rem 5px;
  transition: 0.3 ease-in-out;
}


.skill-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 5px var(--clr-primary);
  background-image: var(--gradient-primary);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skill-icon {
  font-size: 1rem;
}

.react {
  color: #61dafb;
}

.node {
  color: #68a063;
}

.express {
  color: #444;
}

.mongo {
  color: #4db33d;
}

.js {
  color: #f7df1e;
}

.html {
  color: #e44d26;
}

.css {
  color: #264de4;
}

.tailwind {
  color: #38bdf8;
}

.git {
  color: #f1502f;
}

.firebase {
  color: #ffa611;
}
